*{
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: lightgray;
}
  
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

/*navigacija*/
.logo{
    color: #eee;
    padding: 20px;
    float: left;
    display: block;
    font-size: 30px;
}
  
  .nav {
    height: 80px;
    width: 100%;
    background-color: #09235e;
    position: sticky;
  }
  
  .nav .nav__btn {
    display: none;
  }
  
  .nav .nav__links {
    float: right;
    font-size: 30px;
  }
  
  .nav .nav__links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav .nav__links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav__check {
    display: none;
  }

  @media only screen and (max-width:767.98px) {
    .nav{
        position: relative;
    }
    .nav .nav__btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav .nav__btn label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav .nav__btn label:hover,.nav  #nav__check:checked ~ .nav__btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav .nav__btn label span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav .nav__links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #134880;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-x: hidden;
      top: 50px;
      left: 0px;
    }
    .nav .nav__links > a {
      display: block;
      width: 100%;
    }
    .nav #nav__check:not(:checked) ~ .nav__links {
      height: 0px;
    }
    .nav #nav__check:checked ~ .nav__links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }



/*kraj navigacije*/

/*header slika*/
.header {
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.header__img{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 3px -3px grey;
}


@media (min-width: 768px) and (max-width: 991.98px){
    .header {
        display: flex;
        margin: 0 auto;
    }
    
    img{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
}


/*kraj headera*/

.content {
    display:block;
    overflow: hidden;
    padding-bottom: 40px;
    max-width: 100%;
    height: auto;
    background-color: lavender;
}

.content h3 {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: bold;
    display: block;
    margin: auto;
    font-size: 28px;
    color: #134880;
    padding: 30px 10px 15px 10px;
}

.content h2 {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: #134880;
    padding: 30px 10px 15px 10px;
}

#content__firstBlock{
    padding: 40px 40px;
    min-height: 400px;

}
#wrapper__firstBlock{
    display:block;
    margin: 20px;
}

#wrapper__firstBlock p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    padding: 0px 40px 0px 40px;
}
#content__firstBlock h2 {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 30px;
    color: #09235e;
    padding: 30px 10px 15px 10px;
}

#content__secondBlock{
    display:block;
    padding: 40px 40px;
    background-color: #134880;
}

#wrapper__secondBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

#content__secondBlock h3 {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 28px;
    color: #eee;
    padding: 30px 10px 15px 10px;
}

#wrapper__secondBlock p{
    margin-top: 40px;
    color: #eee;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    padding: 0px 40px 0px 40px;
}

#secondBlock__img{
    max-width: 50%;
}
#content__secondBlock blockquote{
    font-family: Georgia, serif;
    font-size: 30px;
    font-style: italic;
    width: 100%;
    margin: 0.25em 0;
    padding: 20px 0;
    line-height: 1.45;
    text-align: center;
    color: #eee;
}

#content__thirdBlock{
    display:block;
    text-align: center;
    padding: 40px 40px;
    width: 100%;
    min-height: 400px;
}

#wrapper__thirdBlock{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 20px;
}

#thirdBlock__icon{
   margin: 10px;
   max-width: auto;
   min-height: 400px;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #fff;
}

#content__thirdBlock p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    color: #134880;
    font-size: 26px;
    line-height: 36px;
    padding: 0px 40px 0px 40px;
}

#content__thirdBlock h3{
    display: block;
    text-align: center;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #134880;
    padding: 30px 10px 15px 10px;
}
#icon__attribute{
    color: #134880;
    padding: 20px;
    display: block;
    font-size: 100px;
}

#content__fourthBlock{
    display:block;
    padding: 40px 40px;
    background-color: #134880;
}

#wrapper__fourthBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

#content__fourthBlock h3 {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 28px;
    color: #eee;
    padding: 30px 10px 15px 10px;
}

#wrapper__fourthBlock p{
    margin-top: 40px;
    color: #eee;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    padding: 0px 40px 0px 40px;
}

#wrapper__fourthBlock #fourthBlock__img{
    max-width: 50%;
}

#content__fifthBlock{
    padding: 40px 40px;
    min-height: 300px;

}
#wrapper__fifthBlock{
    display:block;
    margin: 20px;
}

#content__fifthBlock p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    padding: 0px 40px 0px 40px;
}
#content__fifthBlock h3 {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 28px;
    color: #09235e;
    padding: 30px 10px 15px 10px;
}

@media screen and (min-width:1200px){
    #content__firstBlock{
        max-width: 100%;
    }
    #wrapper__firstBlock{
        display:block;
        margin: 5px;
        justify-content: center;
    }
    #wrapper__secondBlock,#wrapper__thirdBlock,
    #wrapper__fourthBlock,#wrapper__fifthBlock{
        margin: 5px;
    }
    
    
    #content__secondBlock,
    #content__fourthBlock{
        display: block;
        overflow: hidden;
        max-width: 100%;
        padding: 5px 10px 5px 10px;
    }
    #secondBlock__right #secondBlock__img,
    #fourthBlock__right #fourthBlock__img{
        max-width: 70%;
    }
    
  }
  
  @media (min-width: 758px) and (max-width: 991.98px){
    .content{
        display:block;
        overflow: hidden;
        margin: 0 auto;
        width: 100%;
    }
    
    #wrapper__firstBlock{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    #wrapper__secondBlock, #wrapper__fourthBlock{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        font-size: 20px;
        margin-top: 10px;
    }
    
    #content__secondBlock blockquote{
        font-size: 24px;
    }

    #icon__attribute{
        padding: 40px;
        font-size: 70px;
    }
    #secondBlock__right #secondBlock__img,
    #fourthBlock__right #fourthBlock__img{
        max-width: 90%;
    }

    #content__firstBlock p, #content__secondBlock p, 
    #content__forthBlock p, #content__fifthBlock p{
        padding: 0px 10px 0px 10px;
        font-size: 20px;
    }

}

@media only screen and (max-width: 757.98px){
    .content{
        display:block;
        overflow: hidden;
        margin: auto;
        width: 100%;
    }
    #content__firstBlock, #content__secondBlock, 
    #content__thirdBlock, #content__fourthBlock, 
    #content__fifthBlock{
        padding: 5px 5px;
    }
    
    #wrapper__firstBlock{
        margin-top: 5px;
    }
    
    #wrapper__secondBlock,#wrapper__fourthBlock{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-top: 5px;
      }
    
    #wrapper__secondBlock #secondBlock__img,
    #wrapper__fourthBlock #fourthBlock__img{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #icon__attribute{
        font-size: 50px;
        max-height: auto;
    }
    
    #secondBlock__right #secondBlock__img,
    #fourthBlock__right #fourthBlock__img{
        max-width: 80%;
    }
    
    #wrapper__thirdBlock{
        display: flex;
        flex-direction: column;
    }
    #thirdBlock__icon{
        margin: 20px;
        max-width: auto;
        min-height: auto;
    }

    #wrapper__firstBlock p, #wrapper__secondBlock p, 
    #wrapper__fourthBlock p, #wrapper__fifthBlock p{
        font-size: 16px;
        line-height: 26px;
        padding: 0px 5px 0px 5px;
        margin-top: 15px;

    }
    #content__firstBlock h2{
        font-size: 26px;
        padding: 25px 10px 0 10px;
    }
    
    #content__secondBlock h3,#content__thirdBlock h3,
    #content__fourthBlock h3,#content__fifthBlock h3{
        font-size: 24px;
        padding: 25px 10px 0 10px;
    }
    
    #content__secondBlock blockquote{
        font-size: 18px;
        padding: 0 0 15px 0;
    }
}

/*Predstavnici*/
/*poe & agatha*/
#writer1, #writer3{
    display:block;
}

#wrapper__writer1,#wrapper__writer3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

#p1__poe__left #poe__img,
#p3__agatha__left #agatha__img{
    max-width: 100%;
    margin: 20px 0;
}

#p1__poe__right #poe__text,
#p3__agatha__right #agatha__text{
    max-width: 900px;
}
#p1__poe__right p,
#p3__agatha__right p{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
}

/*2 pisac doyle*/

#p2__doyle__left h3{
    font-family:'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #eee;
    text-align: left;
    margin-left: 28px;
    margin-bottom: 20px;
}

#p1__poe__right h3,#p3__agatha__right h3 {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #134880;
    text-align: left;
    margin-left: 28px;
    margin-bottom: 20px;
}

#writer2{
    display:block;
    background-color: #134880;
}

#wrapper__writer2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}


#p2__doyle__left #doyle__text{
    max-width: 900px;
}
#p2__doyle__left p{
    color: #eee;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
}

#p2__doyle__right #doyle__img{
    max-width: 100%;
    margin: 20px 0;
}

#wrapper__btnMore,#wrapper__btnMoreGray{
    margin-top: 20px;
}
.btn__more{
    border: none;
    background-color: #09235e;
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin: 0 0 40px 40px;
    text-decoration: none;
}

.btn__more:hover{
    background-color: #134880;
}

.btn__more__gray{
    border: none;
    max-width: 90px;
    background-color: #eee;
    color:#134880;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin: 0 0 40px 40px;
    text-decoration: none;
}

.btn__more__gray:hover{
    background-color: lightgray;
    color: #eee;
}


/*responzivnost - predstavnici*/
  
@media (min-width: 758px) and (max-width: 991.98px){
    .content{
        display:block;
        overflow: hidden;
        margin: 0 auto;
        width: 100%;
    }
    
    #wrapper__writer1, #wrapper__writer2,
    #wrapper__writer3{
        display:flex;
        flex-direction:column;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 20px;
    }
    #wrapper__writer1 h3,#wrapper__writer2 h3,
    #wrapper__writer3 h3{
        display:block;
        margin: auto;
        font-size: 24px;
        margin-bottom: auto;
        margin-left: 30px;
    }
    #p1__poe__right p,#p2__doyle__left p,
    #p3__agatha__right p{
        font-size: 20px;
    }
    #p1__poe__left #poe__img,
    #p2__doyle__right #doyle__img,
    #p3__agatha__left #agatha__img{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #wrapper__btnMore,#wrapper__btnMoreGray{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    

    .btn__more,.btn__more__gray{
        font-size: 20px;       
    }
}

@media only screen and (max-width: 757.98px){
    .content{
        display:block;
        overflow: hidden;
        margin: 0 auto;
        width: 100%;
    }
    
    #wrapper__writer1, #wrapper__writer2,
    #wrapper__writer3{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
    }
      
    #p1__poe__left #poe__img,
    #p2__doyle__right #doyle__img,
    #p3__agatha__left #agatha__img{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #wrapper__writer1 h3,#wrapper__writer2 h3,
    #wrapper__writer3 h3{
        text-align: center;
        font-size: 20px;
    }
    #p1__poe__right p,#p2__doyle__left p,
    #p3__agatha__right p{
        font-size: 16px;
        line-height: 26px;
    }

    #wrapper__btnMore,#wrapper__btnMoreGray{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    #wrapper__btnMoreGray{
        margin-top: 20px;
    }

    .btn__more,.btn__more__gray{
        font-size: 18px;
        margin: auto;       
    }
}


  


/*Kraj predstavnika*/


/*footer*/
.footer{
    display: flex;
    width: 100%;
    height: 80px;
    padding-top: 15px;
    background-color: #09235e;
}

.footer p{
    text-align: center;
    color: #f2f2f2;
    text-align: center;
    font-family:'Helvetica';
    font-style: normal;
    font-size: 30px;
}
@media only screen and (max-width:600px){
    .footer p{
      margin:0 auto;
      padding: 10px;
      width: 100%;
    }
  }
/*kraj footera*/

/*Forma za kontakt*/
.content__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: lavender;
}

.content__contact h3 {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: bold;
    justify-content:center;
    font-size: 28px;
    color: #134880;
    padding: 30px 10px 15px 10px;
}

.form__wrapper{
    margin: auto;
    display: block;
    min-width: 600px;
}
form{
    min-width: 100%;
    min-height: 680px;
}

input[type=text]{
    min-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}
input[type=email]{
    min-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}

textarea{
    min-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}

input[type=submit]{
    margin-top: 10px;
    border: none;
    background-color: #09235e;
    color: white;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin: auto;
    display: block;
}

input[type=submit]:hover{
    background-color: #134880;
}
label{
    font-size: 30px;
}

/*responzivnost forme*/
@media only screen and (max-width:600px){
    .content__contact{
        padding: 5px;
    }
    .form__wrapper{
        max-width: 90%;
    }
    form{
        max-width: 90%;
        margin-top: 0;
    }
    
    input[type=text],input[type=email],textarea{
        max-width: 90%;
        padding: 5px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
    }
    
    label{
        font-size: 16px;
    }
    input[type=submit]{
        font-size: 20px;  
    }
}

/*kraj forme za kontakt*/

/* vise o piscima*/
.content__author__more{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  align-content: center;
}

/*- carousel*/
#slider{
  display: flex;
  flex-direction: column;
  justify-content: left;
	overflow: hidden;
  max-width: 400px;
  padding-top: 30px;
}
#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 15s slider infinite;
}
#slider figure img{
	width: 20%;
	float: left;
}

@keyframes slider{
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
  

  .author__more__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 2600px;

  }
  .author__more__text2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 1600px;

  }
  .author__more__text h2{
    font-family:'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #134880;
    margin-left: 30px;
}
#title__bio{
    margin-left: 30px;
}

.author__more__text p,.author__more__text2 p{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    padding: 0px 40px 0px 40px;
}
.btn__read{
    float: left;
    border: none;
    max-width: 160px;
    background-color: #134880;
    color:#eee;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin: 20px 0 40px 40px;
    text-decoration: none;
}

.btn__read:hover{
    background-color: lightgray;
    color: #eee;
}

@media only screen and (max-width:600px){
  .content__author__more{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
  }
  .author__more__text p,.author__more__text2 p{
      font-size: 16px;
      line-height: 26px;
  }
  .author__more__text h2{
      font-size: 24px;
  }
  .btn__read{
    font-size: 20px;  
  }
}
